/* ===== BASE ===== */
:root {
    --main-text-color: #212121;
    --main-background-color: #FFFFFF;
    --second-text-color: #757575;
    --light-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-text-color: #000000;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --page-background-color: #2F303A;
    --hero-background-color: #C4C4C4;
    --secondary-background-color: #F5F4FA;
    --hero-btn-background-focus-color: #188CE8;
    --link-icon-color: #AFB1B8;
}
 
 body { 
    font-family: roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-text-color,black);
    background-color: var(--main-background-color, white);
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin-top: 0;
   margin-bottom: 0;
 }

 ul {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
 }
 img {
   display: block;
   max-width: 100%;
 }
 .no-link-underline {
    text-decoration: none;
 } 
 
 .no-list-marker { 
    list-style-type: none; 
 }

 .container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
 }
 /* ===== /BASE ===== */

/* ===== COMPONENT ===== */
.nav-menu-item:hover,
.nav-menu-item:focus, 
.link-contact:hover,
.link-contact:focus,
.link-contact-footer:hover,
.link-contact-footer:focus,
.link-address-footer:hover,
.link-address-footer:focus {
   color: var(--accent-color, #2196F3);
}
.section {
   padding-top: 94px;
   padding-bottom: 94px;
}
.logo {
   font-family: 'Raleway';
   font-size: 26px;
   line-height: 1.2;
   color: var(--logo-text-color, black);
   margin-right: 92px;
}
.logo-accent {
   color: var(--accent-color, #2196F3);
}

.social-link-items{
   display: flex;
   gap: 10px;
   justify-content: center;
}
.social-link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   fill: var(--link-icon-color,silver);
    
}
.social-link:hover,
.social-link:focus {
   background-color: var(--accent-color,blue);
   fill: var(--light-text-color,white);

}

/* ===== /COMPONENT ===== */

 /* ===== HEADER ===== */
.header {
   border-bottom: 1px solid #ECECEC;
}
 .header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}
.navigation {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu-list {
   display: flex;
   align-items: center;
   gap: 50px;
}

 .nav-menu-item {   
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color,black);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
 }
 .current {
    color: var(--accent-color, #2196F3);
 } 
 /* .menu-list-item {
   display: flex;
   align-items: center;
 } */

 .link-contact {
   display: flex;
   align-items: center;
   gap: 10px;
   height: 16px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color,grey);
    fill: var(--second-text-color,grey);
 
   }

 .link-contact:hover,
 .link-contact:focus {
   fill: currentColor;
 }

 /* ===== /HEADER ===== */

               /*===== MAIN-SUDIO ===== */
/* == Секція HERO == */
.hero-section {
   max-width: 1600px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 200px;
   padding-bottom: 200px;
   text-align: center;
   background-color: var(--hero-background-color,silver);
   background-image: linear-gradient( rgba(47, 48, 58, 0.4),
                                      rgba(47, 48, 58, 0.4)
                                    ),
                                      url(../images/herofoto.jpg); 
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.hero-title {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   width: 696px;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   color: var(--light-text-color, white);
}

.hero-btn {
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: var(--light-text-color, white);
   background-color: #2196F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
   cursor: pointer;
   padding: 10px 32px;
}
.hero-btn:hover,
.hero-btn:focus {
   background-color:
   var( --hero-btn-background-focus-color, #188CE8);
}

/* == Секція ADVANT == */
.visually-hidden { 
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }
 
.section-title {
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   margin-bottom: 50px;
   color: var(--main-text-color,black);
}
.section-advant {
   padding-top: 94px;
}
.list-advant {
   display: flex;
   gap: 30px;
}

.advant-item-icon {
   /* width: 270px; */
   height: 120px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--secondary-background-color,lightgrey);
   margin-bottom: 30px;
}

/* == Секція DOING == */
.doing-items {
   display: flex;
   gap: 30px;
}

.section-subtitle {
   line-height: 1.14;
   text-transform: uppercase;
   color: var(--main-text-color,black);
   margin-bottom: 10px;
}

.section-text {
   line-height: 1.71;
   color: var(--second-text-color,grey);
}

/* == Секція TEAM == */
.team-section {
   background: var(--secondary-background-color, white);
}

.team-items {
   display: flex;
   gap: 30px;
}

.team-item {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   background-color: var(--main-background-color, white);
}

.team-desription {
   padding-top: 30px;
   padding-bottom: 30px;
}

.team-section-subtitle {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   margin-bottom: 10px;
}

.team-section-text {
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   color: var(--second-text-color,grey);
   margin-bottom: 16px;
}
/* == Секція CLIENT == */
.client-items {
   display: flex;
   gap: 30px;
}
.client-item {
   display: flex;
   width: 170px;
   height: 92px;
   justify-content: center;
   align-items: center;
   border: 1px solid #AFB1B8;
   border-radius: 4px;
   fill: var(--link-icon-color,silver);
}

.client-item:hover,
.client-item:focus {
   fill: var(--accent-color,blue);
   border-color: var(--accent-color,blue);
}
           /* ===== /MAIN-STUDIO ===== */

/* ===== FOOTER ===== */
.footer {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: var(--page-background-color, black); 
}

.footer-container {
   display: flex;
   align-items: baseline;
}
.footer-contacts {
   width: 230px;
   margin-right: 70px;
}

.logo-footer {
   display: block;
   font-family: 'Raleway';
   font-size: 26px;
   line-height: 1.19;
   margin-bottom: 20px;
   color: var(--light-text-color, white);
}

.link-address-footer {
   display: block;
   font-style: normal;
   line-height: 1.71;
   color: var(--light-text-color, white);
}

.link-contact-footer {
   display: block;
   font-style: normal;
   line-height: 1.71;
   color: var(--footer-contacts-color, grey);
}

.footer-address-item:not(:last-child) {
   margin-bottom: 9px;
}

.footer-social-title {
   font-weight: 700;
   line-height: 1.15;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--light-text-color,white);
   margin-bottom: 20px;
}

.footer .social-link  {
   fill: white;
   background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-link:hover,
.footer .social-link:focus {
   background-color: var(--accent-color,blue);
} 

/* ===== /FOOTER ===== */

     /* ===== MAIN-PORTFOLIO ===== */

.filter-buttons {
   display: flex;
   justify-content: center;
   gap: 8px;

}
.filter-btn {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   color: var(--main-text-color,black);
   background:var(--secondary-background-color, white);
   padding: 6px 22px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
   color: var(--light-text-color, white);
   background: var(--accent-color, #2196F3);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.gallery {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   margin-top: 50px;
}

.gallery li {
   flex-basis: calc((100% - 2 * 30px) / 3);
   display: flex;
}

.filter-card:hover,
.filter-card:focus {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }

.filter-description {
   padding: 20px 24px;
   border-left: 1px solid #EEEEEE;
   border-right: 1px solid #EEEEEE;
   border-bottom: 1px solid #EEEEEE;
}
  
.filter-item {
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--main-text-color,black);
}

.filter-type {
   font-size: 16px;
   line-height: 1.88;
   color: var(--second-text-color,grey);
   margin-top: 4px;
}
 
.filter-item:hover,
.filter-item:focus,
.filter-type:hover,
.filter-type:focus {
   color: var(--accent-color, #2196F3);
}
    /* ===== /MAIN-PORTFOLIO ===== */

/* End */